SECRET_KEY='django-insecure-au@2hvz%qgrwdz1eei$43&$froqwnb1p4#k-)%kiul+b@*qwg3'
DEBUG=true
ALLOWED_HOSTS=*,
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432